{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions",
    "transform-dead-code-elimination"
  ],
  "presets": [
    "react",
    "env"
  ]
}
